---
import { Icon } from "astro-icon/components";

import ThemeSwitcher from "./ThemeSwitcher";
---

<header>
  <div class="flex items-center justify-between px-12 py-6">
    <h2 class="text-2xl uppercase">
      <a href="#">Luis von Rondow</a>
    </h2>
    <div class="flex items-center gap-16">
      <div class="flex gap-10">
        <a class="transition-colors hover:text-primary" href="#work">Work</a>
        <a class="transition-colors hover:text-primary" href="#projects"
          >Projects</a
        >
        <a class="transition-colors hover:text-primary" href="#blog">Articles</a
        >
      </div>
      <ThemeSwitcher client:load>
        <Icon
          slot="light-icon"
          name="ri:sun-line"
          size={24}
          class="text-black"
        />
        <Icon
          slot="dark-icon"
          name="ri:moon-line"
          size={24}
          class="text-pale"
        />
      </ThemeSwitcher>
    </div>
  </div>
</header>
