---
import { Icon } from "astro-icon/components";

import ThemeSwitcher from "./ThemeSwitcher";

const ROUTES = [
  { name: "work", path: "/work" },
  { name: "projects", path: "/projects" },
  { name: "articles", path: "/articles" },
];

const route = ROUTES.find(({ path }) => path === Astro.url.pathname)?.name;
---

<header>
  <div class="flex items-center justify-between px-12 py-6">
    <h2 class="text-2xl uppercase">
      <a href="/">Luis von Rondow</a>
    </h2>
    <div class="flex items-center gap-16">
      <div class="flex gap-10">
        {
          ROUTES.map(({ name, path }) => (
            <a
              class={`capitalize transition-colors hover:text-primary dark:hover:text-pale ${
                route === name
                  ? "font-medium text-primary underline dark:text-pale"
                  : ""
              }`}
              href={path}
            >
              {name}
            </a>
          ))
        }
      </div>
      <ThemeSwitcher client:load>
        <Icon
          slot="light-icon"
          name="ri:sun-line"
          size={24}
          class="text-black"
        />
        <Icon
          slot="dark-icon"
          name="ri:moon-line"
          size={24}
          class="text-pale"
        />
      </ThemeSwitcher>
    </div>
  </div>
</header>
