---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  routeName?: "work" | "projects" | "articles";
}

const { title, routeName } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="dark:bg-black dark:text-white">
    <div class="w-full max-w-[1440px]">
      <Header route={routeName} />
      <slot />
      <Footer />
    </div>
  </body>
  <script is:inline>
    const theme = (() => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

    if (theme === "light") {
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.classList.add("dark");
    }
    window.localStorage.setItem("theme", theme);
  </script>
</html>

<style is:global lang="postcss">
  body {
    @apply bg-pale;
    @apply font-normal;
    @apply text-base;
    @apply text-black;
    @apply p-0;
    @apply m-0;
    @apply min-h-screen;
    @apply w-full;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;

    font-family: "Roboto Condensed", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary;
    @apply font-black;
    @apply m-0;
    @apply leading-none;

    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 900;
    margin: 0;
  }

  .dark {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-pale;
    }
  }
</style>
