.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #465362;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff
}

.avatar {
  width: 200px;
  height: 200px;

  border-radius: 50%;

  background: url(https://avatars.githubusercontent.com/u/29529438?s=400&u=da47bf24048af482ecd887d96a4683f4e39e2c4b&v=4);
  background-position: center;
  background-size: cover;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 3rem;
}

.title span {
  font-size: 20px;
  font-style: italic;
}

.icons {
  margin-top: 2rem;
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icon:hover {
  transition: 0.2s ease-in-out;
  color: #011936;
}
